.post-container{
    background-color: #FFF;
    padding: 1rem 2rem;
    max-width: 706px;
    display: block;
    margin: 2rem auto;
}

.post-container a {
    background: -webkit-linear-gradient(#6a11cb, #2575fc);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

h1{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    text-align: center;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 3rem 2rem;
    color: rgb(255, 255, 255);
}

h2{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    text-align: center;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 1.5rem 2rem;
    color: rgb(255, 255, 255);
}